.side_left {
    height: 100%;
    width: 30%;
    float: left;
    justify-content: left;
}
  
.center {
    height: 100%;
    width: 60%;
    float: left;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}
  
.side_right {
    height: 100%;
    width: 10%;
    float: right;
}
  